<!DOCTYPE html>
<html lang="en">
{{> head}}
<body class="{{template}}">
  {{> navbar}}
  {{> header}}
  {{> hero}}
  <div class="container">
    {{{body}}}
  </div>
  {{> footer}}
  {{> js}}
</body>
</html>